.detailContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.imgProd {
    width: 500px;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s;
}

.imgProd:hover {
    opacity: 0.8;
    transform: scale(0.99);
}

.infoContainer {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloDetails {
    color: #ffc73b;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.description {
    color: #ffdead;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.price {
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.stockDetails {
    color: #9c9c9c;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.AddButton {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.3rem 1.3rem;
    background-color: rgb(223, 1, 1);
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
}

.AddButton:hover {
    opacity: 0.7;
    transform: scale(1.07);
}

.strong {
    color: #ffc73b;
}

@media (max-width: 950px) {
    .detailContainer {
        flex-wrap: wrap;
    }

    .imgProd {
        width: 300px;
    }

    .tituloDetails {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.8rem;
    }

    .price {
        font-size: 1rem;
    }

    .stockDetails {
        font-size: 1rem;
    }
}

/* Spinner */
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.snniperContainer {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #fff;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }
    33% {
        box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }
    66% {
        box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }
    100% {
        box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
}
