.itemListGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    margin: 0 auto;
    padding: 10px;
    max-width: 1500px;
}

/* Spinner */
.spinner {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 658px) {
    .itemListGrid {
        grid-template-columns: repeat(auto-fill, 150px);
        gap: 20px;
        margin: 0 auto;
        padding: 10px;
        max-width: 1500px;
    }
}
