.itemListGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
}

@media (max-width: 600px) {
    .itemListGrid {
        grid-template-columns: 100%;
    }
}
