.Title {
    color: #e0e0e0;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    letter-spacing: 0.4rem;
}

.subTitle {
    color: #ffc73b;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
}

.ShoppingCart p {
    color: #ffc73b;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1.5rem;
}
