.detailContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.imgProd {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.infoContainer {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloDetails {
    color: #ffc73b;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.description {
    color: #ffdead;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.price {
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.stockDetails {
    color: #9c9c9c;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.StockProduct {
    font-size: 1rem;
    margin-top: 1rem;
    color: #ffdead;
    letter-spacing: 0.2rem;
}

.AddButton {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.3rem 1.3rem;
    background-color: rgb(223, 1, 1);
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
}

.AddButton:hover {
    opacity: 0.7;
    transform: scale(1.07);
}

.strong {
    color: #ffc73b;
}

@media (max-width: 950px) {
    .detailContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .imgProd {
        width: 300px;
    }

    .tituloDetails {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.8rem;
        padding: 0 0.2rem;
        margin: 1rem auto;
    }

    .price {
        font-size: 1rem;
    }

    .stockDetails {
        font-size: 1rem;
    }

    .infoContainer {
        padding: 0;
    }
}

/* Spinner */
.spinner {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
