.TotalInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffc73b;
    max-width: 1100px;
    border-radius: 1rem;
    box-shadow: 5px 5px 7px #4b4b4b;
}

.TotalInfo {
    width: 60%;
    background-color: #ffc73b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    padding: 0.2rem;
}

.TotalInfo p {
    background-color: #ffc73b;
    color: #000000;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 80px 0 0;
}

.TotalInfoContainer button {
    background-color: #000000;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #ffc73b;
    padding: 10px 60px;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.TotalInfoContainer button:hover {
    transform: scale(0.95);
}
